/// media query variables
/// 

$mobile_size : 0px;
$small_size  : 570px;
$medium_size : 767px;
$large_size : 1024px;
$x-large_size : 1290px;
$double-x-large_size : 1400px;

$mobile : 'mobile';
$small  : 'small';
$medium  : 'medium';
$large : 'large';
$x-large :'x-large';
$double-x-large : '2x-large';


/// colors
/// 


$success:#36485C;
$cyan:#0085FF;
$danger:#EB2891;
$offwhite-100:#fafafa;

$light-blue:#F4F8FA;



$text-color:#36485C;
$heading-color:#172026;

$mouve-500:#4328EB;




/// fonts

$roto:('Roboto', sans-serif);
 






